
/*
    Divs
*/

    #logo {
        color:#fff;
    }

    #wasserzeichen {
        background-color: #fff;
        text-align: center;
    }

    #creativefresh {
        background-image:linear-gradient(to right, #3dc8d5, #8507e1) ;
    }

    #creativefresh p {
        background-image: ;
    }

/*Navigation */

    #navigation {
        text-align: right;
    }

    #navigation li {
        list-style: none
    }

    #navigation a:link {
        color:#fff;
        text-decoration: none;
    }

    #navigation a:visited {
        color:#fff;
        text-decoration: none;
    }

    #navigation a li:active {
        color:#fff;
        text-decoration: none;
    }

    #navigation a li:hover {
        color:#fff;
        text-decoration: none;
    }

    /* Projects */

    #stuffwedo {
        text-align: justify;
        text-align: center;
    }

    #proudof {
        background-color: #fff;
    }

    #pmu {
        background-color: #fff;
        justify-content: center; 
        align-items: center;
        text-align: center;
        
    }

    #pmu p {
        background-color: #fff;
    }

    #agrotechs {
        background-color: #fff;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #agrotechs p {
        background-color: #fff;
    }

    #namucursors {
        background-color: #fff;
        justify-content: center;
        align-items: center; 
        text-align: center;
    }

    #namucursors p {
        background-color: #fff;
    }

/* Tags */

    body {
        background-color: #fff;
        font-family: 'Maven Pro';
    }

    header{
        background-color: #333;
    }

    main {
        background-color: #fff;
    }

    footer {
        background-color: grey;
    }








