body {
    background-color: #fff;
    font-family: 'Maven Pro';
}

#logo {
    color:#fff;
}

header{
    background-color: #333;
}

#stuffwedo {
    text-align: justify;
}

#navigation {
    text-align: right;
}

main {
    background-color: #fff;
}

a li:hover {
    color:#fff;
}
